html,
body {
    background: #222222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input {
    margin-bottom: 20px;
    width: 350px;
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 40px;

}
.btn-sign-in {


}